@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Engade 1<br />
    Valby, 2500<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Me:</strong>   <a href="mailto:Support@example.com">tsvetan.slavchev@gmail.com</a><br />
</address>