@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eksponent Skills and Roles</h1>
    <p class="lead">You are welcome to register as a Company Admin or an Employee from the menu above.</p>
    
</div>

